body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.container{
    background: linear-gradient(to left , white 60%, #1281ea 40%);
    width: 59rem;
    height: 30rem;
    margin-left: 168px;
    margin-top: 80px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.login-part{
    display: flex;
    justify-content: space-around;
}
.login-background{
    width: 30%;
    text-align: center;
    line-height: 18px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
}
.login-background p{
    line-height: 1.5;
    font-size: 18px;
    font-weight: 500;
}
.login-form{
    width: 50%;
    padding: 40px;
}
.login-form h2{
    margin: 0 0 10px;
    text-align: center;
}
.login-form form{
    margin-top: 30px;
}
.user-box{
    position: relative;
}
.user-box label{
    padding: 10px 0;
    font-size: 19px;
    color: #333;
    pointer-events: none;
    transition: 0.5s;
}
.user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    background: transparent;

}
.login-form input::placeholder{
    color: rgb(117, 115, 115);
    font-size: 14px;
}
.forget{
    display: flex;
    justify-content: end;
    text-decoration: none;
    color: black;
}
.login-form a:hover{
    color: #1281ea;
}
.login-form button{
    width: 70%;
    padding: 10px;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color:black;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
&:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#1281ea;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: blue;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}
.signup{
    display: flex;
    justify-content: center;
}
.signup p{
    font-size: 18px;
    font-weight: 500;
}
.signup a{
    margin-top: 18px;
    font-size: 19px;
    text-decoration: none;
}

